
@{
    ViewBag.Title = "View Adjustment For Superior";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>@ViewBag.Title | Logic University Stationary Store Inventory System </title>
    <!-- Favicon-->
    <link rel="icon" href="../../favicon.ico" type="image/x-icon">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">
    <!-- Bootstrap Core Css -->
    <link href="../../plugins/bootstrap/css/bootstrap.css" rel="stylesheet">
    <!-- Waves Effect Css -->
    <link href="../../plugins/node-waves/waves.css" rel="stylesheet" />
    <!-- Animation Css -->
    <link href="../../plugins/animate-css/animate.css" rel="stylesheet" />
    <!-- JQuery DataTable Css -->
    <link href="../../plugins/jquery-datatable/skin/bootstrap/css/dataTables.bootstrap.css" rel="stylesheet">
    <!-- Custom Css -->
    <link href="../../css/style.css" rel="stylesheet">
    <!-- AdminBSB Themes. You can choose a theme from css/themes instead of get all themes -->
    <link href="../../css/themes/all-themes.css" rel="stylesheet" />
</head>
<body class="theme-blue">
    @Html.Partial("_NavBar")
    <section class="content">
        <div class="container-fluid">
            <div class="block-header">
                <h2>
                    Approve Inventory Adjustment
                </h2>
            </div>
            <!-- Basic Examples -->
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="body">
                            <div class="table-responsive">
                                <form action="/Adjustment/ViewAdjustmentForSuperior/" method="Post">
                                    <table class="table table-bordered table-striped table-hover js-basic-example dataTable">
                                        <thead>
                                            <tr>
                                                <th>Description</th>
                                                <th>Date Issued</th>
                                                <th>Created By</th>
                                                <th>Add/Minus</th>
                                                <th>Quantity</th>
                                                <th>Amount</th>
                                                <th>Status</th>
                                                <th>Approve</th>
                                                <th>Reject</th>
                                            </tr>
                                        </thead>
                                        <tfoot>
                                            <tr>
                                                <th>Description</th>
                                                <th>Date Issued</th>
                                                <th>Created By</th>
                                                <th>Add/Minus</th>
                                                <th>Quantity</th>
                                                <th>Amount</th>
                                                <th>Status</th>
                                                <th>Approve</th>
                                                <th>Reject</th>
                                            </tr>
                                        </tfoot>
                                        <tbody>
                                            @if (ViewBag.user.Role.RoleID == 4)
                                            {
                                                foreach (var item in ViewBag.adjustmentlistforsupervisorPending)
                                                {
                                                    <tr>
                                                        <td>@item.Catalogue.Description</td>
                                                        <td>@item.Date.ToShortDateString()</td>
                                                        <td>@item.Employee1.EmployeeName</td>
                                                        <td>@item.AddorMinus</td>
                                                        <td>@item.Qty</td>
                                                        <td>@string.Format("{0:C}", item.Amount)</td>
                                                        <td>@item.Status</td>

                                                        <td>
                                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                                                                <a href="/Adjustment/ViewAdjustmentForSuperiorAgree/@item.AdjustmentVoucherID" type="button" class="btn btn-primary waves-effect">Approve</a>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                                <a href="/Adjustment/ViewAdjustmentForSuperiorReject/@item.AdjustmentVoucherID" type="button" class="btn btn-danger waves-effect">Reject</a>
                                                            </div>
                                                        </td>

                                                    </tr>
                                                }
                                            }
                                            @if (ViewBag.user.Role.RoleID == 5)
                                            {
                                                foreach (var item in ViewBag.adjustmentlistformanagerPending)
                                                {
                                                    <tr>
                                                        <td>@item.Catalogue.Description</td>
                                                        <td>@item.Date.ToShortDateString()</td>
                                                        <td>@item.Employee1.EmployeeName</td>
                                                        <td>@item.AddorMinus</td>
                                                        <td>@item.Qty</td>
                                                        <td>@string.Format("{0:C}", item.Amount)</td>
                                                        <td>@item.Status</td>

                                                        <td>
                                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                                                                <a href="/Adjustment/ViewAdjustmentForSuperiorAgree/@item.AdjustmentVoucherID" type="button" class="btn btn-primary waves-effect">Approve</a>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                                <a href="/Adjustment/ViewAdjustmentForSuperiorReject/@item.AdjustmentVoucherID" type="button" class="btn btn-danger waves-effect">Reject</a>
                                                            </div>
                                                        </td>

                                                    </tr>
                                                }
                                            }
                                        </tbody>
                                    </table>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- #END# Basic Examples -->
            <br>
            <div class="block-header">
                <h2>
                    Approved Inventory Adjustment
                </h2>
            </div>
            <!-- Basic Examples -->
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="body">
                            <div class="table-responsive">
                                <table class="table table-bordered table-striped table-hover js-basic-example dataTable">
                                    <thead>
                                        <tr>
                                            <th>Description</th>
                                            <th>Date Issued</th>
                                            <th>Created By</th>
                                            <th>Add/Minus</th>
                                            <th>Quantity</th>
                                            <th>Amount</th>
                                            <th>Status</th>

                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>Description</th>
                                            <th>Date Issued</th>
                                            <th>Created By</th>
                                            <th>Add/Minus</th>
                                            <th>Quantity</th>
                                            <th>Amount</th>
                                            <th>Status</th>

                                        </tr>
                                    </tfoot>
                                    <tbody>
                                        @if (ViewBag.user.Role.RoleID == 4)
                                        {
                                            foreach (var item in ViewBag.adjustmentlistforsupervisorComplete)
                                            {
                                                <tr>
                                                    <td>@item.Catalogue.Description</td>
                                                    <td>@item.Date.ToShortDateString()</td>
                                                    <td>@item.Employee1.EmployeeName</td>
                                                    <td>@item.AddorMinus</td>
                                                    <td>@item.Qty</td>
                                                    <td>@string.Format("{0:C}", item.Amount)</td>
                                                    <td>@item.Status</td>
                                                </tr>
                                            }
                                        }
                                        @if (ViewBag.user.Role.RoleID == 5)
                                        {
                                            foreach (var item in ViewBag.adjustmentlistformanagerComplete)
                                            {
                                                <tr>
                                                    <td>@item.Catalogue.Description</td>
                                                    <td>@item.Date.ToShortDateString()</td>
                                                    <td>@item.Employee1.EmployeeName</td>
                                                    <td>@item.AddorMinus</td>
                                                    <td>@item.Qty</td>
                                                    <td>@string.Format("{0:C}", item.Amount)</td>
                                                    <td>@item.Status</td>
                                                </tr>
                                            }
                                        }
                                    </tbody>

                                </table>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- #END# Basic Examples -->



        </div>
    </section>
    <!-- Jquery Core Js -->
    <script src="../../plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap Core Js -->
    <script src="../../plugins/bootstrap/js/bootstrap.js"></script>
    <!-- Select Plugin Js -->
    <script src="../../plugins/bootstrap-select/js/bootstrap-select.js"></script>
    <!-- Slimscroll Plugin Js -->
    <script src="../../plugins/jquery-slimscroll/jquery.slimscroll.js"></script>
    <!-- Waves Effect Plugin Js -->
    <script src="../../plugins/node-waves/waves.js"></script>
    <!-- Jquery DataTable Plugin Js -->
    <script src="../../plugins/jquery-datatable/jquery.dataTables.js"></script>
    <script src="../../plugins/jquery-datatable/skin/bootstrap/js/dataTables.bootstrap.js"></script>
    <script src="../../plugins/jquery-datatable/extensions/export/dataTables.buttons.min.js"></script>
    <script src="../../plugins/jquery-datatable/extensions/export/buttons.flash.min.js"></script>
    <script src="../../plugins/jquery-datatable/extensions/export/jszip.min.js"></script>
    <script src="../../plugins/jquery-datatable/extensions/export/pdfmake.min.js"></script>
    <script src="../../plugins/jquery-datatable/extensions/export/vfs_fonts.js"></script>
    <script src="../../plugins/jquery-datatable/extensions/export/buttons.html5.min.js"></script>
    <script src="../../plugins/jquery-datatable/extensions/export/buttons.print.min.js"></script>
    <!-- Custom Js -->
    <script src="../../js/admin.js"></script>
    <script src="../../js/pages/tables/jquery-datatable.js"></script>
    <!-- Demo Js -->
    <script src="../../js/demo.js"></script>
</body>
</html>