
@{
    ViewBag.Title = "Order Approval";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>@ViewBag.Title | Logic University Stationary Store Inventory System</title>
    <!-- Favicon-->
    <link rel="icon" href="../../favicon.ico" type="image/x-icon">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">
    <!-- Bootstrap Core Css -->
    <link href="../../plugins/bootstrap/css/bootstrap.css" rel="stylesheet">
    <!-- Waves Effect Css -->
    <link href="../../plugins/node-waves/waves.css" rel="stylesheet" />
    <!-- Animation Css -->
    <link href="../../plugins/animate-css/animate.css" rel="stylesheet" />

    <!-- Bootstrap Select Css -->
    <link href="../../plugins/bootstrap-select/css/bootstrap-select.css" rel="stylesheet" />

    <!-- Custom Css -->
    <link href="../../css/style.css" rel="stylesheet">
    <!-- AdminBSB Themes. You can choose a theme from css/themes instead of get all themes -->
    <link href="../../css/themes/all-themes.css" rel="stylesheet" />
</head>
<body class="theme-blue">
    @Html.Partial("_NavBar")
    <section class="content">
        <div class="container-fluid">
            <div class="block-header">
                <h3>Order Approval </h3>
                @if (ViewBag.user.Role.RoleID == 3) //For Clerk
                {
                    <div align="right"><a href="./CreatePurchaseOrder" class="btn btn-primary waves-effect">Create Purchase Order</a></div>
                }
                <br />

                <!-- Pending -->
                <div class="row clearfix">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="card">
                            <div class="header">
                                <h2>
                                    Pending Forms
                                </h2>                                
                            </div>
                            <div class="body">
                                <div class="table-responsive">
                                    <table class="table table-bordered table-striped table-hover js-basic-example dataTable">
                                        <thead>
                                            <tr>
                                                <th>Order ID</th>
                                                <th>Submitted Date</th>
                                                <th>Ordered by</th>
                                                <th>Status</th>
                                                <th></th>
                                            </tr>
                                        </thead>

                                        <tbody>
                                            @if (ViewBag.user.Role.RoleID == 4 || ViewBag.user.Role.RoleID == 5) //For Supervisor and Manager
                                            {
                                                foreach (var item in ViewBag.oplist)
                                                {
                                                    <tr>
                                                        <td>@item.PurchaseOrderID</td>
                                                        <td>@string.Format("{0:d}", @item.Date)</td>
                                                        <td>@item.Employee1.EmployeeName</td>
                                                        <td>@item.Status</td>
                                                        <td><a href="./PendingApprovalOrderDetails?oid=@item.PurchaseOrderID">Details</a></td>
                                                    </tr>
                                                }
                                            }
                                            else if (ViewBag.user.Role.RoleID == 3) //For Clerk
                                            {
                                                foreach (var item in ViewBag.popendinglistbyemployee)
                                                {
                                                    <tr>

                                                        <td>@item.PurchaseOrderID</td>
                                                        <td>@string.Format("{0:d}", @item.Date)</td>
                                                        <td>@item.Employee1.EmployeeName</td>
                                                        <td>@item.Status</td>
                                                        <td><a href="./PendingApprovalOrderDetails?oid=@item.PurchaseOrderID">Details</a></td>
                                                    </tr>
                                                }
                                            }

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- #END# Pending -->
                <!-- Approved -->
                <div class="row clearfix">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="card">
                            <div class="header">
                                <h2>
                                    Approved Forms
                                </h2>
                            </div>
                            <div class="body">
                                <div class="table-responsive">
                                    <table class="table table-bordered table-striped table-hover js-basic-example dataTable">
                                        <thead>
                                            <tr>
                                                <th>Order ID</th>
                                                <th>Submitted Date</th>
                                                <th>Ordered by</th>
                                                <th>Status</th>
                                                <th></th>
                                            </tr>
                                        </thead>

                                        <tbody>
                                            @if (ViewBag.user.Role.RoleID == 4 || ViewBag.user.Role.RoleID == 5) //For Supervisor and Manager
                                            {
                                                foreach (var item in ViewBag.olist)
                                                {
                                                    <tr>
                                                        <td>@item.PurchaseOrderID</td>
                                                        <td>@string.Format("{0:d}", @item.Date)</td>
                                                        <td>@item.Employee1.EmployeeName</td>
                                                        <td>@item.Status</td>
                                                        <td><a href="./PendingApprovalOrderDetails?oid=@item.PurchaseOrderID">Details</a></td>
                                                    </tr>
                                                }
                                            }
                                            else if (ViewBag.user.Role.RoleID == 3) //For Clerk
                                            {
                                                foreach (var item in ViewBag.polistbyemployee)
                                                {
                                                    <tr>
                                                        <td>@item.PurchaseOrderID</td>
                                                        <td>@string.Format("{0:d}", @item.Date)</td>
                                                        <td>@item.Employee1.EmployeeName</td>
                                                        <td>@item.Status</td>
                                                        <td><a href="./PendingApprovalOrderDetails?oid=@item.PurchaseOrderID">Details</a></td>
                                                    </tr>
                                                }
                                            }

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- #END# Approved -->

</section>
    <!-- Jquery Core Js -->
    <script src="../../plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap Core Js -->
    <script src="../../plugins/bootstrap/js/bootstrap.js"></script>
    <!-- Select Plugin Js -->
    <script src="../../plugins/bootstrap-select/js/bootstrap-select.js"></script>
    <!-- Slimscroll Plugin Js -->
    <script src="../../plugins/jquery-slimscroll/jquery.slimscroll.js"></script>
    <!-- Waves Effect Plugin Js -->
    <script src="../../plugins/node-waves/waves.js"></script>
    <!-- Custom Js -->
    <script src="../../js/admin.js"></script>
    <!-- Demo Js -->
    <script src="../../js/demo.js"></script>
</body>
</html>