
@{
    ViewBag.Title = "Outstanding Disbursement List";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>@ViewBag.Title | Logic University Stationary Store Inventory System</title>
    <!-- Favicon-->
    <link rel="icon" href="../../favicon.ico" type="image/x-icon">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">
    <!-- Bootstrap Core Css -->
    <link href="../../plugins/bootstrap/css/bootstrap.css" rel="stylesheet">
    <!-- Waves Effect Css -->
    <link href="../../plugins/node-waves/waves.css" rel="stylesheet" />
    <!-- Animation Css -->
    <link href="../../plugins/animate-css/animate.css" rel="stylesheet" />
    <!-- JQuery DataTable Css -->
    <link href="../../plugins/jquery-datatable/skin/bootstrap/css/dataTables.bootstrap.css" rel="stylesheet">
    <!-- Custom Css -->
    <link href="../../css/style.css" rel="stylesheet">
    <!-- AdminBSB Themes. You can choose a theme from css/themes instead of get all themes -->
    <link href="../../css/themes/all-themes.css" rel="stylesheet" />
</head>
<body class="theme-blue">
    @Html.Partial("_NavBar")
    <section class="content">
        <div class="container-fluid">
            <div class="block-header">
                @if (ViewBag.user.RoleID == 3)
                {
                    if (TempData["Notify"] != null)
                    {
                        <p class="alert alert-success">@TempData["Notify"]</p>
                    }
                }
                <h1>Disbursement List</h1>
            </div>
            <form action="/Disbursement/Outstanding" method="post">
                <div class="row clearfix">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="card">
                            <div class="header">
                                <h2>
                                    Outstanding Disbursement List
                                </h2>
                                <div align="right"><a href="./Completed" class="btn btn-primary waves-effect">View Completed Disbursements</a></div>
                            </div>
                            <div class="body">
                                <div class="table-responsive">
                                    <table class="table table-bordered table-striped table-hover js-basic-example dataTable">
                                        <thead>
                                            <tr>
                                                <th></th>
                                                <th>Disbursement #</th>
                                                @*<th>Date</th>*@
                                                <th>Department</th>
                                                <th>Representative Name</th>
                                                <th>Collection Point</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tfoot>
                                            <tr>
                                                <th></th>
                                                <th>Disbursement #</th>
                                                @*<th>Date</th>*@
                                                <th>Department</th>
                                                <th>Representative Name</th>
                                                <th>Collection Point</th>
                                                <th></th>
                                            </tr>
                                        </tfoot>
                                        <tbody>
                                            @if (ViewBag.user.RoleID == 1 && ViewBag.user.Authorization == "Representative" || ViewBag.user.RoleID == 2) //For Representative and Dept Head
                                            {
                                                for (int i = 0; i < ViewBag.delistByDept.Count; i++)
                                                {
                                                    if (ViewBag.delistByDept[i].DepartmentID == ViewBag.user.DepartmentID)
                                                    {
                                                        <tr>
                                                            <td></td>
                                                            <td>@ViewBag.delistByDept[i].DisbursementID</td>
                                                            @*<td>@ViewBag.delistByDept[i].Disbursement_Date</td>*@
                                                            <td>@ViewBag.user.Department.DepartmentName</td>
                                                            <td>@ViewBag.user.EmployeeName</td>
                                                            <td>@ViewBag.user.Department.CollectionPoint</td>
                                                            <td><a href="./Detail/@ViewBag.delistByDept[i].DisbursementID">Details</a></td>
                                                        </tr>
                                                    }
                                                }
                                            }
                                            else if (ViewBag.user.RoleID == 3) //For the Clerk
                                            {
                                                for (int i = 0; i < ViewBag.delist.Count; i++)
                                                {
                                                    for (int j = 0; j < ViewBag.deptlist.Count; j++)
                                                    {
                                                        if (ViewBag.delist[i].DepartmentID == ViewBag.deptlist[j].DepartmentID)
                                                        {
                                                            <tr>
                                                                <td>
                                                                    <input type="checkbox" id="md_checkbox_@ViewBag.delist[i].DisbursementID" class="chk-col-blue" value="@ViewBag.delist[i].DisbursementID" name="items" />
                                                                    <label for="md_checkbox_@ViewBag.delist[i].DisbursementID"></label>
                                                                </td>
                                                                <td>@ViewBag.delist[i].DisbursementID</td>
                                                                @*<td>@ViewBag.delist[i].Disbursement_Date</td>*@
                                                                <td>@ViewBag.deptlist[j].DepartmentName</td>
                                                                <td>@ViewBag.deptlist[j].RepresentativeName</td>
                                                                <td>@ViewBag.deptlist[j].CollectionPoint</td>
                                                                <td><a href="./Detail/@ViewBag.delist[i].DisbursementID">Details</a></td>
                                                            </tr>
                                                        }
                                                    }
                                                }
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                    <br />
                    @if (ViewBag.user.RoleID == 3) //For the Clerk
                    {
                        if (ViewBag.dlist != null)
                        {                            
                            <div align="center">                                
                                <button type="submit" class="btn btn-primary waves-effect" name="sendemail">Send Notification</button>
                            </div>
                            <br />
                        }                        
                    }
                </div>
            </form>
            <!-- #END# Basic Examples -->
        </div>
    </section>
    <!-- Jquery Core Js -->
    <script src="../../plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap Core Js -->
    <script src="../../plugins/bootstrap/js/bootstrap.js"></script>
    <!-- Select Plugin Js -->
    <script src="../../plugins/bootstrap-select/js/bootstrap-select.js"></script>
    <!-- Slimscroll Plugin Js -->
    <script src="../../plugins/jquery-slimscroll/jquery.slimscroll.js"></script>
    <!-- Waves Effect Plugin Js -->
    <script src="../../plugins/node-waves/waves.js"></script>
    <!-- Jquery DataTable Plugin Js -->
    <script src="../../plugins/jquery-datatable/jquery.dataTables.js"></script>
    <script src="../../plugins/jquery-datatable/skin/bootstrap/js/dataTables.bootstrap.js"></script>
    <script src="../../plugins/jquery-datatable/extensions/export/dataTables.buttons.min.js"></script>
    <script src="../../plugins/jquery-datatable/extensions/export/buttons.flash.min.js"></script>
    <script src="../../plugins/jquery-datatable/extensions/export/jszip.min.js"></script>
    <script src="../../plugins/jquery-datatable/extensions/export/pdfmake.min.js"></script>
    <script src="../../plugins/jquery-datatable/extensions/export/vfs_fonts.js"></script>
    <script src="../../plugins/jquery-datatable/extensions/export/buttons.html5.min.js"></script>
    <script src="../../plugins/jquery-datatable/extensions/export/buttons.print.min.js"></script>
    <!-- Custom Js -->
    <script src="../../js/admin.js"></script>
    <script src="../../js/pages/tables/jquery-datatable.js"></script>
    <!-- Demo Js -->
    <script src="../../js/demo.js"></script>
</body>
</html>


