@{
    ViewBag.Title = "Usage Charge Back";
}


<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>@ViewBag.Title | Logic University Stationary Store Inventory System</title>
    <!-- Favicon-->
    <link rel="icon" href="../../favicon.ico" type="image/x-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">

    <!-- Bootstrap Core Css -->
    <link href="../../plugins/bootstrap/css/bootstrap.css" rel="stylesheet">

    <!-- Waves Effect Css -->
    <link href="../../plugins/node-waves/waves.css" rel="stylesheet" />

    <!-- Animation Css -->
    <link href="../../plugins/animate-css/animate.css" rel="stylesheet" />

    <!-- Colorpicker Css -->
    <link href="../../plugins/bootstrap-colorpicker/css/bootstrap-colorpicker.css" rel="stylesheet" />

    <!-- Dropzone Css -->
    <link href="../../plugins/dropzone/dropzone.css" rel="stylesheet">

    <!-- Multi Select Css -->
    <link href="../../plugins/multi-select/css/multi-select.css" rel="stylesheet">

    <!-- Bootstrap Spinner Css -->
    <link href="../../plugins/jquery-spinner/css/bootstrap-spinner.css" rel="stylesheet">

    <!-- Bootstrap Tagsinput Css -->
    <link href="../../plugins/bootstrap-tagsinput/bootstrap-tagsinput.css" rel="stylesheet">

    <!-- Bootstrap Select Css -->
    <link href="../../plugins/bootstrap-select/css/bootstrap-select.css" rel="stylesheet" />

    <!-- noUISlider Css -->
    <link href="../../plugins/nouislider/nouislider.min.css" rel="stylesheet" />

    <!-- Custom Css -->
    <link href="../../css/style.css" rel="stylesheet">

    <!-- AdminBSB Themes. You can choose a theme from css/themes instead of get all themes -->
    <link href="../../css/themes/all-themes.css" rel="stylesheet" />


    <!-- Favicon-->
    <link rel="icon" href="../../favicon.ico" type="image/x-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">

    <!-- Bootstrap Core Css -->
    <link href="../../plugins/bootstrap/css/bootstrap.css" rel="stylesheet">


    <!-- Dropzone Css -->
    <link href="../../plugins/dropzone/dropzone.css" rel="stylesheet">

    <!-- Waves Effect Css -->
    <link href="../../plugins/node-waves/waves.css" rel="stylesheet" />

    <!-- Animation Css -->
    <link href="../../plugins/animate-css/animate.css" rel="stylesheet" />

    <!-- Custom Css -->
    <link href="../../css/style.css" rel="stylesheet">

    <!-- AdminBSB Themes. You can choose a theme from css/themes instead of get all themes -->
    <link href="../../css/themes/all-themes.css" rel="stylesheet" />

</head>

<body class="theme-blue">
    @Html.Partial("_NavBar")
    <section class="content">
        <form action="./UsageChargeBack" method="post">
            <div class="container-fluid">
                <div class="block-header">

                    <p style="font-size:40px">
                        Usage Charge Back
                    </p>
                </div>

                <div class="row clearfix">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <p style="font-size:20px">
                            <b>
                                Department Name
                            </b>
                        </p>
                        <select class="form-control show-tick" name="depselect">
                            @foreach (var dep in ViewBag.dlist)
                            {
                                <option value="@dep.DepartmentID">@dep.DepartmentName</option>
                            }
                        </select>
                    </div>


                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">

                        <p style="font-size:20px">
                            <b>Month</b>
                        </p>
                        <select class="form-control show-tick" name="monselect">
                            <option value="1">January</option>
                            <option value="2">February</option>
                            <option value="3">March</option>
                            <option value="4">April</option>
                            <option value="5">May</option>
                            <option value="6">June</option>
                            <option value="7">July</option>
                            <option value="8">August</option>
                            <option value="9">September</option>
                            <option value="10">October</option>
                            <option value="11">November</option>
                            <option value="12">December</option>

                        </select>

                    </div>


                </div>

                <br>


            </div>
            <!-- #END# Basic Examples -->
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <button type="submit" class="btn btn-primary waves-effect">Retrieve</button>
                </div>

            </div>
        </form>
        <div class="row clearfix">


        </div>
        <br>
        <br />

        <!-- Basic Examples -->
        <p style="font-size:20px">
            @if (ViewBag.deptid == null)
            {
                <b>All Departments:</b>
            }
            else
            {
                for (int i = 0; i < ViewBag.dlist.Count; i++)
                {
                    if (ViewBag.deptid == ViewBag.dlist[i].DepartmentID)
                    {
                        <b>Current Department: @ViewBag.dlist[i].DepartmentName</b>
                    }
                }
            }
        </p>
        <form action="./Notification" method="post">
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="body">
                            <div class="table-responsive">
                                <table class="table table-bordered table-striped table-hover js-basic-example dataTable">
                                    <thead>
                                        <tr>
                                            <th>Disbursement Number
                                            @if (ViewBag.deptid != null)
                                            {
                                                <input type="hidden" name="deptID" value="@ViewBag.deptid" />
                                            }
                                            </th>
                                            <th>Item Number</th>
                                            <th>Stationery Description</th>
                                            <th>Quantity (pieces)</th>
                                            <th>Amount ($)</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        @if (ViewBag.dblist != null)
                                        {
                                            for (int i = 0; i < ViewBag.dblist.Count; i++)
                                            {
                                                <tr>
                                                    <td>@ViewBag.dblist[i].DisbursementID <input type="hidden" name="DisbursementID" value="@ViewBag.dblist[i].DisbursementID" /></td>
                                                    <td>@ViewBag.dblist[i].ItemCode</td>
                                                    <td>@ViewBag.dblist[i].Catalogue.Description</td>
                                                    <td>@ViewBag.dblist[i].ItemQty</td>
                                                    @if (@ViewBag.dblist[i].Amount != null)
                                                    {
                                                        <td>@string.Format("{0:C}", @ViewBag.dblist[i].Amount)</td>
                                                    }
                                                    else
                                                    {
                                                        <td></td>
                                                    }
                                                </tr>
                                            }
                                        }

                                        @if (ViewBag.deptid == null)
                                        {
                                            foreach (var item in ViewBag.dblist)
                                            {
                                                <tr>
                                                    <td>@item.DisbursementID</td>
                                                    <td>@item.ItemCode</td>
                                                    <td>@item.Catalogue.Description</td>
                                                    <td>@item.ItemQty</td>
                                                    @if (item.Amount != null)
                                                    {
                                                        <td>@string.Format("{0:C}", item.Amount)</td>
                                                    }
                                                    else
                                                    {
                                                        <td></td>
                                                    }
                                                </tr>
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                    <button type="submit" class="btn btn-primary waves-effect" name="send" onclick="notify()">Send Charge back</button>
                </div>
            </div>
        </form>

    </section>
</body>
</html>

<script>
    function notify() {
        alert("Charge Back has been sent");
    }
</script>

<!-- #END# Basic Examples -->
<!-- Jquery Core Js -->
<script src="../../plugins/jquery/jquery.min.js"></script>

<!-- Bootstrap Core Js -->
<script src="../../plugins/bootstrap/js/bootstrap.js"></script>

<!-- Select Plugin Js -->
<script src="../../plugins/bootstrap-select/js/bootstrap-select.js"></script>

<!-- Slimscroll Plugin Js -->
<script src="../../plugins/jquery-slimscroll/jquery.slimscroll.js"></script>

<!-- Waves Effect Plugin Js -->
<script src="../../plugins/node-waves/waves.js"></script>

<!-- Jquery DataTable Plugin Js -->
<script src="../../plugins/jquery-datatable/jquery.dataTables.js"></script>
<script src="../../plugins/jquery-datatable/skin/bootstrap/js/dataTables.bootstrap.js"></script>
<script src="../../plugins/jquery-datatable/extensions/export/dataTables.buttons.min.js"></script>
<script src="../../plugins/jquery-datatable/extensions/export/buttons.flash.min.js"></script>
<script src="../../plugins/jquery-datatable/extensions/export/jszip.min.js"></script>
<script src="../../plugins/jquery-datatable/extensions/export/pdfmake.min.js"></script>
<script src="../../plugins/jquery-datatable/extensions/export/vfs_fonts.js"></script>
<script src="../../plugins/jquery-datatable/extensions/export/buttons.html5.min.js"></script>
<script src="../../plugins/jquery-datatable/extensions/export/buttons.print.min.js"></script>

<!-- Custom Js -->
<script src="../../js/admin.js"></script>
<script src="../../js/pages/tables/jquery-datatable.js"></script>

<!-- Demo Js -->
<script src="../../js/demo.js"></script>

<!-- Multi Select Plugin Js -->
<script src="../../plugins/multi-select/js/jquery.multi-select.js"></script>